* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn__filter {
  margin: 10px;
  padding: 5px 20px;
  cursor: pointer;
}
.btn__filter:hover {
  border-radius: 5px;
  border: none;
  background-color: rgb(168, 170, 172);
}

.filter {
  max-height: 350px;
  overflow: hidden;
  opacity: 1;
  transition:
    max-height 0.8s ease,
    opacity 0.6s ease;
}

.filter__none {
  max-height: 0;
  opacity: 0;
}

.filter__form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.input__search {
  width: 200px;
  margin-top: 10px;
}
.checkbox__search-brand{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 10px;
  margin-bottom: 10px;
}
.select__sort, 
.select__sort-brand {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.input__range {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.range__max {
  margin-right: 10px;
  margin-left: 10px;
}
.range__min {
  margin-right: 10px;
}

.range__card {
  position: relative;
}
.range__resualt {
  position: absolute;
  transform: translateX(-50%);
  left: 100%;
}
.checkbox__text {
  margin-left: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}
.card__img-wrapper {
  display: flex;
  justify-content: center;
}
.card__img {
  width: 200px;
  height: 200px;
}
.card__btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: auto;
}
.card__btn-basket{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.card__btn-basket-plus,
.card__btn-basket-min{
  width: 30px;
  padding: 5px;
}
.hidden{
  display: none;
}

.card__btn:hover {
  background-color: black;
  border: none;
  color: white;
  border-radius: 5px;
}

.basket__wrap {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 1px solid gray;
  padding: 20px;
  margin-left: 10px;
}

.basket__cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  margin-left: 10px;
}

.card__basket {
  display: flex;
  gap: 20px;
  align-items: center;
}
.card__basket-text {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.card__basket-img {
  width: 100px;
}
.card__basket-sum{
  width: 100px;
}
.btn__count {
  display: flex;
  gap: 10px;
  align-items: center;
}
.btn__count-min,
.btn__count-plus {
  padding: 10px;
  cursor: pointer;
}
.btn__basket-del {
  padding: 5px;
  cursor: pointer;
}

.basket__price {
  margin-top: 100px;
  text-align: right;
}
